/venv/
/node_modules/
/packages/*.whl
/dist/
/build/
__pycache__
/typings/

/test-results/
/playwright-report/
/playwright/.cache/

.vscode/*.log

playwright/static-build/

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/.luarc.json

_shinylive/py
_shinylive/r
