[submodule "srcjs/packages/py-shiny"]
	path = packages/py-shiny
	url = https://github.com/rstudio/py-shiny.git
[submodule "srcjs/packages/py-htmltools"]
	path = packages/py-htmltools
	url = https://github.com/rstudio/py-htmltools.git
[submodule "typeshed"]
	path = typeshed
	url = https://github.com/python/typeshed.git
[submodule "packages/py-shinywidgets"]
	path = packages/py-shinywidgets
	url = https://github.com/rstudio/py-shinywidgets.git
[submodule "packages/py-faicons"]
	path = packages/py-faicons
	url = https://github.com/rstudio/py-faicons.git
[submodule "packages/mizani"]
	path = packages/mizani
	url = https://github.com/has2k1/mizani.git
[submodule "packages/plotnine"]
	path = packages/plotnine
	url = https://github.com/wch/plotnine.git
