/venv/
/node_modules/
/packages/*.whl
/dist/
/downloads/
/build/
__pycache__
/typings/

/test-results/
/playwright-report/
/playwright/.cache/

.vscode/*.log

playwright/static-build/

/.luarc.json

_shinylive/py
_shinylive/r
