.container-fluid {
  text-align: center;
  height: calc(100vh - 30px);
  display: grid;
  grid-template-rows: 1fr auto;
}
.guesses {
  overflow-y: auto;
  height: 100%;
}
.guesses.finished {
  overflow-y: visible;
}
.guesses .word {
  margin: 5px;
}
.guesses .word > .letter {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  line-height: 50px;
  font-size: 32px;
  font-weight: bold;
  vertical-align: middle;
  user-select: none;
  color: white;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}
.guesses .word > .correct {
  background-color: #6a5;
}
.guesses .word > .in-word {
  background-color: #db5;
}
.guesses .word > .not-in-word {
  background-color: #888;
}
.guesses .word > .guess {
  color: black;
  background-color: white;
  border: 1px solid black;
}
.keyboard {
  height: 240px;
  user-select: none;
}
.keyboard .keyboard-row {
  margin: 3px;
}
.keyboard .keyboard-row .key {
  display: inline-block;
  padding: 0;
  width: 30px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
  color: black;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  background-color: #ddd;
  touch-action: none;
}
.keyboard .keyboard-row .key:focus {
  outline: none;
}
.keyboard .keyboard-row .key.wide-key {
  font-size: 15px;
  width: 50px;
}
.keyboard .keyboard-row .key.correct {
  background-color: #6a5;
  color: white;
}
.keyboard .keyboard-row .key.in-word {
  background-color: #db5;
  color: white;
}
.keyboard .keyboard-row .key.not-in-word {
  background-color: #888;
  color: white;
}
.endgame-content {
  font-family: Helvetica, Arial, sans-serif;
  display: inline-block;
  line-height: 1.4;
  letter-spacing: 0.2em;
  margin: 20px 8px;
  width: fit-content;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 19px rgb(0 0 0 / 17%);
}
