.loading-animation {
  background-color: inherit;
  box-shadow: inherit;
  grid-area: viewer;
  place-self: center;
  padding: 1rem;
  text-align: center;
  font-size: 0;
  -webkit-animation: loading-animation-fade-in 1s;
  animation: loading-animation-fade-in 1s;
}

.loading-animation .hex {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 6.856034375px;
  margin: 2.6px 1px;
  color: rgba(255, 255, 255, 0.75);
  background-color: #0089db;
  font: 40px/43.87862px sans-serif;
  vertical-align: middle;
  text-transform: uppercase;
  -webkit-animation: loading-animation-pulse 3.75s infinite;
  animation: loading-animation-pulse 3.75s infinite;
}
.loading-animation .hex::before,
.loading-animation .hex::after {
  content: "";
  display: block;
  position: absolute;
  /* z-index: -1; */
  width: 8.375px;
  height: 8.375px;
  background-color: inherit;
  transform-origin: 0 0;
  transform: scaleY(0.57735) rotate(-45deg);
  animation: inherit;
}
.hex::before {
  top: 0;
}
.loading-animation .hex::after {
  top: 6.856034375px;
}

.loading-animation .hex:nth-of-type(2n) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.loading-animation .hex:nth-of-type(2n + 1) {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.05s;
}
.loading-animation .hex:nth-of-type(2n + 2) {
  -webkit-animation-delay: -1.97s;
  animation-delay: -1.97s;
}
.loading-animation .hex:nth-of-type(2n + 3) {
  -webkit-animation-delay: -1.8s;
  animation-delay: -1.8s;
}
.loading-animation .hex:nth-of-type(2n + 4) {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.loading-animation .hex:nth-of-type(2n + 5) {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.loading-animation .hex:nth-of-type(2n + 6) {
  -webkit-animation-delay: -1.8s;
  animation-delay: -1.8s;
}
.loading-animation .hex:nth-of-type(2n + 7) {
  -webkit-animation-delay: -1.7s;
  animation-delay: -1.7s;
}
.loading-animation .hex:nth-of-type(2n + 8) {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.loading-animation .hex:nth-of-type(2n + 9) {
  -webkit-animation-delay: -1.3s;
  animation-delay: -1.3s;
}
.loading-animation .hex:nth-of-type(2n + 11) {
  -webkit-animation-delay: -1.6s;
  animation-delay: -1.6s;
}
.loading-animation .hex:nth-of-type(2n + 12) {
  -webkit-animation-delay: -1.6s;
  animation-delay: -1.6s;
}
.loading-animation .hex:nth-of-type(2n + 13) {
  -webkit-animation-delay: -1.3s;
  animation-delay: -1.3s;
}
.loading-animation .hex:nth-of-type(2n + 14) {
  -webkit-animation-delay: -1.3s;
  animation-delay: -1.3s;
}
.loading-animation .hex:nth-of-type(2n + 15) {
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}
.loading-animation .hex:nth-of-type(2n + 16) {
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}
.loading-animation .hex:nth-of-type(2n + 17) {
  -webkit-animation-delay: -1.3s;
  animation-delay: -1.3s;
}
.loading-animation .hex:nth-of-type(2n + 18) {
  -webkit-animation-delay: -1.4s;
  animation-delay: -1.4s;
}
.loading-animation .hex:nth-of-type(2n + 19) {
  -webkit-animation-delay: -1.45s;
  animation-delay: -1.45s;
}

.loading-animation .spacer {
  display: inline-block;
  width: 14px;
}

@keyframes loading-animation-pulse {
  0% {
    background-color: #0089db;
  }
  50% {
    background-color: #bfe2f4;
  }
  100% {
    background-color: #0089db;
  }
}

@keyframes loading-animation-fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
