div.rendered-html table {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  color: black;
  font-size: 90%;
  table-layout: fixed;
}

div.rendered-html thead {
  border-bottom: 1px solid black;
  vertical-align: bottom;
}

div.rendered-html tr,
div.rendered-html th,
div.rendered-html td {
  text-align: right;
  vertical-align: middle;
  padding: 0.5em 0.5em;
  line-height: normal;
  white-space: normal;
  max-width: none;
  border: none;
}

div.rendered-html th {
  font-weight: bold;
}

div.rendered-html tbody tr:nth-child(odd) {
  background: #f5f5f5;
}

div.rendered-html tbody tr:hover {
  background: rgba(66, 165, 245, 0.2);
}
