/*
This very-specific selector is needed to override some settings from App.css.
*/
.shinylive-terminal.terminal {
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
  --color: #333;
  --background: white;
  --size: 1;
  --font: Menlo, Monaco, "Courier New", monospace;
}

.xterm {
  padding: 8px;
}
