.Viewer {
  height: 100%;
  width: 100%;
  position: relative;
}

.Viewer--contents {
  height: 100%;
  width: 100%;
}

.app-frame {
  border-radius: var(--panel-roundness);
  border: 0;
}

.Viewer iframe {
  background-color: white;
  width: 100%;
  height: 100%;
  display: block;
}

.Viewer .loading-wrapper {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  display: grid;
  place-content: center;
  padding: 1rem;
}

.Viewer .loading-wrapper .error-message {
  text-align: center;
  font-size: 1.2rem;
  font-family: var(--font-face);
  color: #3d3c49;
  -webkit-animation: loading-animation-fade-in 0.5s;
  animation: loading-animation-fade-in 0.5s;
}

.Viewer .loading-wrapper .error-message .error-icon {
  font-size: 6rem;
  margin: 0 0 -1.2rem 0;
  fill: #bcbfc8;
}

@keyframes loading-animation-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
