.Viewer {
  height: 100%;
  width: 100%;
  position: relative;
}

.Viewer--contents {
  height: 100%;
  width: 100%;
}

.app-frame {
  border-radius: var(--panel-roundness);
  border: 0;
}

.Viewer iframe {
  background-color: white;
  width: 100%;
  height: 100%;
  display: block;
}

.Viewer .loading-wrapper {
  overflow: auto;
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  display: grid;
  place-content: center;
}

.Viewer .loading-wrapper .error-alert {
  text-align: center;
  font-size: 1.4rem;
  font-family: var(--font-face);
  -webkit-animation: loading-animation-fade-in 0.5s;
  animation: loading-animation-fade-in 0.5s;
}

.Viewer .loading-wrapper .error-alert .error-icon {
  display: inline-block;
  text-align: center;
  width: 85px;
  margin-bottom: 0.5rem;
}

.Viewer .loading-wrapper .error-alert .error-log {
  font-size: 0.7rem;
  text-align: left;
  padding: 0.3rem;
}

@keyframes loading-animation-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
