a {
  color: #4285c5;
}

p {
  margin-top: 1rem;
}

/* Typography */

body {
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 1.05em;
  color: #404040;
  -webkit-font-smoothing: antialiased;
}

strong,
b {
  font-weight: 600;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  border-bottom: none;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.3;
}

h1,
.h1 {
  font-size: 2.7em;
  line-height: 1.15;
  margin-bottom: 30px !important;
}

.h2,
h2 {
  font-size: 2.25em;
}

.h3,
h3 {
  font-size: 1.825em;
}

.h4,
h4 {
  font-size: 1.5em;
}

h5,
.h5 {
  font-size: 1.2em;
}

.h6,
h6 {
  font-size: 0.9em;
  font-weight: 700;
}

code {
  color: inherit;
  font-size: 80%;
}

.hero-banner {
  position: relative;
  background-color: rgb(237, 243, 249);
  display: flex;
  justify-content: center;
}

.content-block {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

@media (min-width: 900px) {
  .content-block {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (min-width: 1200px) {
  .content-block {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Spacing Bits */

hr {
  margin: 2rem 0;
}

/* Code Boxes */

div.sourceCode,
div.pyshiny-container {
  background-color: rgba(250, 250, 250, 0.65);
  border: 1px solid rgba(233, 236, 239, 0.65);
  border-radius: 0.5rem;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04), 0px 3px 7px rgba(0, 0, 0, 0.04),
    0px 12px 30px rgba(0, 0, 0, 0.07);
  margin-top: 32px;
  margin-bottom: 32px;
}

div.sourceCode {
  padding: 12px 14px;
}

pre.sourceCode {
  font-size: 13px;
  line-height: 1.8;
}

/* PyShiny Container */

div.pyshiny-container {
  margin: 1em 0;
  border-radius: 8px;
}

.shinylive-container {
  background-color: #eeeff2;
  min-height: auto;
}

.shinylive-container > div {
  border-radius: var(--panel-roundness);
  background-color: var(--colors-bg);
  box-shadow: none;
}

.shinylive-container.editor-cell {
  padding: 0;
}

.shinylive-container.editor-cell .shinylive-editor {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.shinylive-container.editor-cell .OutputCell {
  border-top: 2px solid #eeeff2;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.shinylive-container.editor-cell .OutputCell .rendered_html {
  padding: 2px 12px 3px 12px;
}

.shinylive-container.editor-cell .OutputCell pre.sourceCode {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: #eeeff2;
  padding: 2px 12px 3px 12px;
  color: #666;
}

.shinylive-container.editor-cell .editor-container {
  padding: 12px 12px 4px 12px;
}

.shinylive-container.viewer > div,
.shinylive-container.viewer iframe {
  border-radius: var(--panel-roundness);
}

.editor-container .cm-editor .cm-scroller {
  font-size: 13px;
  line-height: 1.8;
}
